footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 80px 40px !important;
    background-color: var(--brancoFraco);
}

.parte_footer img {
    width: 2rem;
    cursor: pointer;
}

.parte_footer {
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    color: rgb(74, 74, 74);
}

.parte_footer h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.parte_footer:nth-child(1) p {
    margin-bottom: 10px;
    position: relative;
}

.parte_footer:nth-child(2) li::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: -10px;
    top: 6px;
    background-color: rgba(74, 74, 74, 0.663);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.parte_footer:nth-child(1) .icones {
    display: flex;
    gap: 10px;
}

.parte_footer:nth-child(2) ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.parte_footer:nth-child(2) a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

.parte_footer:nth-child(2) li {
    position: relative;
    transition: all 0.1s ease;
}

.parte_footer:nth-child(2) li:hover {
    transform: translateX(5px);
}

.parte_footer:nth-child(2) li:hover::before{
    background-color: var(--corPrincipal);
}

.parte_footer:nth-child(2) a:hover {
    color: var(--corPrincipal);
}

.parte_footer:nth-child(3) form{
    margin-top: 20px;    
    display: flex;
    justify-content: center;
    gap: 20px;
}

.parte_footer:nth-child(3) form input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.parte_footer:nth-child(3) form button{
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all .2s ease;
}

.parte_footer:nth-child(3) form button:hover{
    background-color: var(--corPrincipal);
}