:root{
    --fontPrincipal: "Inter", monospace, sans-serif;
    --corPrincipal: #0d7bdb;
    --corContraste: #010b40;
    --brancoHover: #f2f2f2;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}
/* Header */
.header{
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
}

/* header - header top */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* header-top - Logo */
.logo{
    font-size: 1.5rem; 
    font-weight: 600;
}
 
.logo span{
     color: var(--corPrincipal);
}

/* header-top - barra de pesquisa */
.barra-de-pesquisa{
    display: flex;
    align-items: center;
    width: 35vw;
}

.barra-de-pesquisa input{
    width: 99%;
    padding: 5px 20px;
    height: 35px;
    border: 1px solid black;
    border-right: none;
    outline-color: #0d7bdb;
    border-radius: 2px 0px 0px 2px;
}

.barra-de-pesquisa span{
    display: flex;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
    height: 35px;
    border: 1px solid black;
    border-left: none;
    font-weight: 200;
    font-size: 2rem;
}

/* header-top - botões rapidos e login */
.botoes-rapidos{
    display: flex;
    list-style: none;
    height: 100%;
}

.botoes-rapidos li{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0px 5px;
    transition: all .2s ease;
}

.botoes-rapidos li:hover{
    background-color: var(--brancoHover);
}

.botoes-rapidos li:hover span.setaIcon{
    transform: rotate(-180deg);
}

.botoes-rapidos li span.setaIcon{
    margin-left: 5px;
    transition: all .2s ease;
}

.botoes-rapidos li span{
    font-weight: 300;
}

/* Header - header-bottom */
.lista-protudos-conteiner{
    height: 50px;
}

.lista-protudos-conteiner, .itens, .lista-produtos{
    display: flex;
    align-items: center;
}
.lista-protudos-conteiner .lista-produtos{
    list-style: none;
    height: 100%;
}

.lista-produtos .itens{
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    border-left: none !important;
    border-right: none !important;
    border: 2px solid transparent;
    transition: all .2s ease;
}

.lista-produtos .itens:hover{
    background-color: var(--brancoHover);
    border-bottom: 2px solid var(--corPrincipal);
}

.itens span.setaIcon{
    margin-left: 2px;
    font-weight: 300;
    transition: all .3s ease;
}

.lista-produtos .itens:hover span.setaIcon{
    transform: rotate(-180deg);
}

/* Banner - texto e imagens */
.conteiner_principal{
    max-width: 1200px;
    margin: 0 auto;
}

/* Banner - Texto e botões */
.banner_site{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;
}

.texto_banner {
    width: 600px;
}

.texto_banner p{
    font-size: 2.7rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.texto_banner p span{
    color: var(--corPrincipal);
    font-size: 2.7rem;
}

.texto_banner span{
    font-size: 1.4rem;
    font-weight: 300;
}

.imagem_banner img{
    width: 450px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.buttons .btn_compra{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid var(--corPrincipal);
    border-radius: 2px;
    color: var(--corPrincipal);
    padding: 10px 30px;
}

.buttons .btn_compra:nth-child(1){
    background-color: var(--corPrincipal);
    color: white;
}