*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

:root{
    --fontPrincipal: "Inter", Helvetica, sans-serif;
    --corPrincipal: #0d7bdb;
    --hoverBotoes: #0c599d;
    --corContraste: #010b40;
    --preto: #121214;
    --brancoFraco: rgba(187, 187, 187, 0.097);
    --cinzaHover: rgb(230, 230, 230);
    --cinzaContraste: rgb(91, 91, 91);
}

/* header top */
header{
    padding: 0px 70px;
}

.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.btnMobile{
    display: none;
}

.logo{
    font-size: 1rem;
    font-weight: 600;
}

.logo span{
    color: var(--corPrincipal);
}

.barra_de_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35vw;
}

.barra_de_pesquisa input{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
    outline-color: var(--corPrincipal);
    border-radius: 2px;
}

.barra_de_pesquisa label{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

.barra_de_pesquisa label span{
    font-weight: 200;
    font-size: 2rem;
}

.barra_de_pesquisa label:hover{
    background-color: var(--brancoFraco);
}

.botoes_de_acesso ul, .itens{
    display: flex;
    align-items: center;
}

.itens{
    height: 60px;
    gap: 2px;
    cursor: pointer;
    padding: 0px 10px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.itens:hover{
    background-color: var(--brancoFraco);
    border-color: var(--corPrincipal);
}

.itens span{
    font-size: 1.6rem;
    font-weight: 300;
}

.setaIcon{
    width: 1.2rem;
    transition: all .2s ease;
}

.itens:hover .setaIcon{
    transform: rotate(180deg);
}

.itens .login_e_carrinho{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.173);
    padding: 20px;
    cursor: default;
    left: -90px;
    top: 62px;
    z-index: 2000;
    background-color: white;
}

.itens:hover .login_e_carrinho{
    display: flex;
}

.itens:nth-child(1) .login_e_carrinho h1{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.itens:nth-child(1) .login_e_carrinho p{
    font-size: 1rem;
    color: var(--cinzaContraste);
    margin-bottom: 10px;
}

.itens:nth-child(1) .login_e_carrinho span{
    font-size: .9rem;
    font-weight: 500;
    color: var(--cinzaContraste);
    padding: 0px 0px 7px 7px;
    position: relative;
}

.itens:nth-child(1) .login_e_carrinho span:nth-child(5){
    margin-bottom: 10px;
}

.itens:nth-child(1) .login_e_carrinho span::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--cinzaContraste);
    border-radius: 50%;
    left: -5px;
    top: 5px;
}

.itens:nth-child(1) .login_e_carrinho a{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    background-color: var(--corPrincipal);
    margin-bottom: 8px;
    transition: all .2s ease;
    border-radius: 2px;
}

.itens:nth-child(1) .login_e_carrinho a:hover{
    background-color: var(--hoverBotoes);
}

.itens:nth-child(1) .login_e_carrinho .botao_secundario{
    background-color: white;
    color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
}

.itens:nth-child(1) .login_e_carrinho .botao_secundario:hover{
    background-color: #8ac5f8;
}

.itens:nth-child(2) .login_e_carrinho{
    gap: 100px;
    left: -110px;
}

.itens:nth-child(2) .login_e_carrinho h1{
    font-size: 1.4rem;
}

.itens:nth-child(2) .login_e_carrinho a{
    text-decoration: none;
    color: black;
    border-top: 1px solid var(--corPrincipal);
    padding: 10px 5px 40px 5px;
    font-size: 1.1rem;
    color: var(--corPrincipal);
    transition: all .1s ease;
}

.itens:nth-child(2) .login_e_carrinho a:hover{
    color: white;
    background-color: #0d7bdb;
}

/* header bottom */
.lista_de_produtos{
    display: flex;
    height: 50px;
    list-style: none;
    align-items: center;
}

.secoes{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all .1s ease;
    position: relative;
}

.secoes > p{
    font-size: .95rem;
}

.secoes:hover{
    background-color: var(--brancoFraco);
    border-color: var(--corPrincipal);
}

.secoes img{
    margin-left: 5px;
    width: 1.15rem;
    transition: all .2s ease;
}

.secoes:hover > img{
    transform: rotate(180deg);
}

.sublista{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    top: 50px;
    list-style: none;
    left: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 100vw 0px 100vw rgba(0, 0, 0, 0.238);
    z-index: 1000;
}

/* header bottom - marcas */
.sublista.marcas{
    position: absolute;
    top: 50px;
    left: 0px;
    list-style: none;
    min-width: 250px;
}

.marcas p{
    display: flex;
    justify-content: space-between;
}

.marcas .item_lista p{
    padding: 15px;
}

.marcas .item_lista:hover p{
    background-color: var(--cinzaHover);
    color: var(--corPrincipal);
}

.marcas .item_lista span{
    transition: all .2s ease;
    font-size: 1.1rem;
}

.marcas .item_lista:hover span{
    transform: rotate(180deg);
}

.sublista li:hover .categorias_de_produtos{
    display: block;
}

.secoes:hover .sublista{
    display: flex;
}

.categorias_de_produtos{
    position: absolute;
    display: none;
    list-style: none;
    top: 0px;
    right: -201px;
    border-radius: 0px 0px 4px 0px;
    background-color: var(--cinzaHover);
    border-left: 1px solid;
    min-width: 200px;
}

.categorias_de_produtos li{
    padding: 15.9px 25px;
}

.categorias_de_produtos li:hover{
    background-color: rgb(167, 167, 167);
    font-weight: 500;
}

/* header bottom - celulares */
.celulares{ 
    flex-direction: row;
    padding: 10px;
}

.nome_celulares{    
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.nome_celulares a{
    padding: 15px;
    color: var(--preto);
    text-decoration: none;
}

.nome_celulares a:hover{
    font-weight: 500;
}

.imagem_celulares, .imagem_celulares li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem_celulares{
    flex-wrap: wrap;
    width: 470px;
    list-style: none;
    gap: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.141);
}

.imagem_celulares li{
    background-color: var(--brancoFraco);
    width: 140px;
    height: 140px;
    border-radius: 10px;
    transition: all .2s ease;
    position: relative;
}

.imagem_celulares li img{
    width: 110px;
}

.imagem_celulares li:nth-child(1)::before, 
.imagem_celulares li:nth-child(2)::before{
    position: absolute;
    content: "Novo!";
    font-size: .8rem;
    background-color: var(--corPrincipal);
    color: white;
    padding: 2px 10px;
    top: -7px;
    left: -10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.184);
    border-radius: 10px;
}

.imagem_celulares li:hover{
    background-color: var(--cinzaHover);
    transform: scale(1.05);
}

/* header bottom - monitores */
.monitores{
    min-width: 250px;
}

.monitores li{
    padding: 15px;
    transition: all .1s ease;
}

.monitores li:hover{
    background-color: var(--cinzaHover);
    color: var(--corPrincipal);
}

/* header bottom - informática */
.informatica{
    min-width: 250px;
    
}

.informatica > li{
    padding: 15px;
}

.informatica > li:hover{
    background-color: var(--cinzaHover);
}

.informatica > li p{
    display: flex;
    justify-content: space-between;
}

.informatica > li:hover p{
    color: var(--corPrincipal);
}

.informatica > li p span{
    font-size: 1.1rem;
    transition: all .2s ease;
}

.informatica > li:hover span{
    transform: rotate(180deg);
}

/* carrosel de icones */
.flex_conteiner{
    padding: 0px 40px;
}

.carrosel_de_icones{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brancoFraco);
    border-top: 1px solid var(--cinzaHover);
    border-bottom: 1px solid var(--cinzaHover);
}

.carrosel{
    display: flex;
    list-style: none;
    align-items: baseline;
}

.carrosel li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 120px;
    cursor: pointer;
    transition: all .1s ease;
}

.carrosel img{
    width: 2.6rem;
    margin-bottom: 10px;
}

.carrosel li:hover{
    color: var(--corPrincipal);
    background-color: var(--cinzaHover);
}

/* banner do site */
.banner_conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.texto_do_banner{
    max-width: 650px;
}

.texto_do_banner h1{
    font-size: max(2rem, 2.8rem);
    font-weight: 300;
    margin-bottom: 10px;
}

.texto_do_banner span{
    color: var(--corPrincipal);
}


.texto_do_banner p{
    font-size: max(1.14rem, 1.4vw);   
    font-weight: 300;
    margin-bottom: 30px;
}

.botoes{
    display: flex;
    gap: 20px;
}

.botoes_de_compra{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 25px;
    background-color: var(--corPrincipal);
    color: white;
    border-radius: 2px;
    transition: all .2s ease;
}

.botoes_de_compra:hover{
    background-color: var(--hoverBotoes);
}

.botoes_de_compra:nth-child(2){
    background-color: white;
    color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
}

.botoes_de_compra:nth-child(2):hover{
    background-color: #8ac5f8;
}

.banner_imagem img{
    width: max(1rem, 23vw);
    transform: rotate(10deg);
}

/* Cards dos produtos recomendados */
.cards_de_produtos,
.cards_de_produtos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards_de_produtos{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.cards_de_produtos ul{
    gap: 25px;
    list-style: none;
}

.cards_de_produtos .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    height: 500px;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.111);
    background-color: var(--brancoFraco);
}

.cards_de_produtos .card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 8rem;
    margin-bottom: 20px;
}

.card:nth-child(3) div:nth-child(1) img{
    margin-bottom: 27px;
}

.card div:nth-child(1) h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.card div:nth-child(1) p{
    font-size: .8rem;
    cursor: pointer;
    position: relative;
}

.card div:nth-child(1) p::before{
    position: absolute;
    content: "";
    background-color: var(--preto);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .3s ease;
    border: 2px solid transparent;
    cursor: pointer;
}

.card div:nth-child(1) p:hover::before{
    transform: scale(1.1) translate(-50%, -1px);
    border-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.352);
}

.card:nth-child(3) div:nth-child(1) p::before{
    background-color: rgb(124, 192, 251);
}

.card div:nth-child(1) p span{
    font-weight: 600;
}

.card .preco p{
    color: var(--corPrincipal);
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.card .preco h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card .preco .botoes_de_compra{
    font-size: .9rem;
    text-transform: uppercase;
}

/* vitrine dos protudos */
.vitrine_de_produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.vitrine_de_produtos .vitrine{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.vitrine .imagemProduto img{
    width: 42vw;
}
.vitrine:nth-child(2) .imagemProduto img{
    width: 35vw;
}

.vitrine .texto_e_botoes{
    text-align: center; 
    max-width: 500px;
}

.vitrine .texto_e_botoes h1{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--cinzaContraste);
}

.vitrine .texto_e_botoes h2{
    color: var(--corPrincipal);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.vitrine .texto_e_botoes p{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.texto_e_botoes .botoes{
    display: flex;
    justify-content: center;
}

.texto_e_botoes .botoes .botoes_de_compra{
    font-size: 1.1rem;
    padding: 10px 30px;
}

.vitrine:nth-child(2){
    flex-direction: row-reverse;
}

/* Produto destaque - monitor */
.produto_destaque{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(120deg, rgb(53, 53, 53) ,rgb(22, 22, 22));
}

.produto_destaque .texto_produto{
    color: var(--cinzaHover);
    text-align: center;
    max-width: 500px;
}

.texto_produto h1{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.texto_produto h2{
    color: var(--corPrincipal);
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.texto_produto p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.texto_produto .botoes{
    display: flex;
    justify-content: center;
}

.texto_produto .botoes .botoes_de_compra{
    font-size: 1.1rem;
}

.texto_produto .botoes .botoes_de_compra:nth-child(2){
    background-color: transparent;
}

.texto_produto .botoes .botoes_de_compra:nth-child(2):hover{
    background-color: #8ac5f8;
}

.imagem_produto img{
    width: 32vw;
}

/* Responsivo */
@media (max-width: 1020px){
    .banner_conteiner{
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 900px){
    /* header */
    header.header{
        padding: 0px 20px;
        position: relative;
    }

    /* header bottom */
    .header_bottom{
        padding: 10px 0px;
        z-index: 1000;
        position: relative;
    }

    .lista_de_produtos{
        flex-wrap: wrap;
        background-color: white;
        justify-content: center;
    }

    /* Menu mobile */
    .btnMobile{
        display: block;
    }

    .btnMobile span{
        font-size: 2.2rem;
        font-weight: 300;
        padding: 10px;
        cursor: pointer;
        transition: all .3s ease;
    }

    .btnMobile span:hover{
        color: var(--corPrincipal);
    }

    .botoes_de_acesso ul{
        display: none;
    }
    /* carrosel de icones */
    .carrosel_de_icones{
        overflow-x: scroll;
        position: relative;
        justify-content: left;
        padding-top: 10px;
    }

    .carrosel_de_icones::before{
        position: absolute;
        content: "→";
        font-size: 2rem;
        color: var(--corPrincipal);
        top: -10px;
        right: 50px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.388);
        animation: animaSetaIcones .7s ease infinite alternate-reverse;
    }

    @keyframes animaSetaIcones {
        to{transform: translateX(-8px);}
    }

    .cards_de_produtos ul{
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: left;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        box-shadow: inset -10px 0px 5px rgba(0, 0, 0, 0.197)
    }

    .cards_de_produtos::before{
        position: absolute;
        content: "→";
        font-weight: 600;
        font-size: 2.2rem;
        color: var(--corPrincipal);
        top: 40px;
        right: 50px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.388);
        animation: animaSetaIcones .7s ease infinite alternate-reverse;
    }

    /* banner site */
    .banner_imagem img{
        width: 42vw;
    }

    .texto_do_banner h1{
        font-size: 2.2rem;
    }

    .texto_do_banner .botoes{
        display: flex;
        justify-content: center;
    }

    .texto_do_banner .botoes a{
        font-size: 1rem;
        padding: 10px;
    }

    /* destaque site */
    .produto_destaque{
        flex-wrap: wrap-reverse;
    }

    .produto_destaque .imagem_produto img{
        width: 60vw;
        margin-bottom: 20px;
    }
    
    /* Vitrine dos produtos */
    .vitrine{
        flex-wrap: wrap;
    }

    .vitrine .imagemProduto img{
        width: 62vw;
        margin-bottom: 20px;
    }

    /* Sublistas */
    .marcas{
        min-width: 170px !important;
    }

    .celulares{
        left: -120%;
        width: 90vw;
        height: 350px;
    }

    .imagem_celulares{
        flex-wrap: wrap;
        overflow-y: scroll;
        align-items: normal;
        padding: 10px 0px;
    }

    .monitores{
        left: -150%;
    }

    .informatica{
        min-width: 170px !important;
        left: -240%;
    }
}

@media (max-width: 380px){
    .lista_de_produtos{
        background-color: white;
        height: 120px;
    }

    .secoes{
        height: 50px;
    }

    .marcas{
        left: -75% !important;
    }

    .celulares{
        left: -155%;
        height: 400px;
        width: 98vw;
    }

    .nome_celulares{
        min-width: 150px !important;
    }

    .monitores{
        left: -20%;
    }

    .informatica{
        left: -130%;
    }
}