*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

:root{
    --fontPrincipal: "Inter", Helvetica, sans-serif;
    --corPrincipal: #0d7bdb;
    --hoverBotoes: #0c599d;
    --corContraste: #010b40;
    --preto: #000025;
    --brancoFraco: rgba(187, 187, 187, 0.097);
    --cinzaContraste: rgb(91, 91, 91);
}

/* header top */
header{
    padding: 0px 70px;
}

.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo{
    font-size: 1rem;
    font-weight: 600;
}

.logo span{
    color: var(--corPrincipal);
}

.barra_de_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35vw;
}

.barra_de_pesquisa input{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
    outline-color: var(--corPrincipal);
    border-radius: 2px;
}

.barra_de_pesquisa label{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

.barra_de_pesquisa label span{
    font-weight: 200;
    font-size: 2rem;
}

.barra_de_pesquisa label:hover{
    background-color: var(--brancoFraco);
}

.botoes_de_acesso ul, .itens{
    display: flex;
    align-items: center;
}

.itens{
    height: 60px;
    gap: 2px;
    cursor: pointer;
    padding: 0px 10px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.itens:hover{
    background-color: var(--brancoFraco);
    border-color: var(--corPrincipal);
}

.itens span{
    font-size: 1.6rem;
    font-weight: 300;
}

.setaIcon{
    width: 1.2rem;
    transition: all .2s ease;
}

.itens:hover .setaIcon{
    transform: rotate(180deg);
}

.itens .login_e_carrinho{
    display: none;
    position: absolute;
    top: 62px;
}

.itens .login_e_carrinho{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.173);
    padding: 20px;
    cursor: default;
    left: -90px;
}

.itens:hover .login_e_carrinho{
    display: flex;
}

.itens:nth-child(1) .login_e_carrinho h1{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.itens:nth-child(1) .login_e_carrinho p{
    font-size: 1rem;
    color: var(--cinzaContraste);
    margin-bottom: 10px;
}

.itens:nth-child(1) .login_e_carrinho span{
    font-size: .9rem;
    font-weight: 500;
    color: var(--cinzaContraste);
    padding: 0px 0px 7px 7px;
    position: relative;
}

.itens:nth-child(1) .login_e_carrinho span:nth-child(5){
    margin-bottom: 10px;
}

.itens:nth-child(1) .login_e_carrinho span::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--cinzaContraste);
    border-radius: 50%;
    left: -5px;
    top: 5px;
}

.itens:nth-child(1) .login_e_carrinho a{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    background-color: var(--corPrincipal);
    margin-bottom: 8px;
    transition: all .2s ease;
    border-radius: 2px;
}

.itens:nth-child(1) .login_e_carrinho a:hover{
    background-color: var(--hoverBotoes);
}

.itens:nth-child(1) .login_e_carrinho .botao_secundario{
    background-color: white;
    color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
}

.itens:nth-child(1) .login_e_carrinho .botao_secundario:hover{
    background-color: #8ac5f8;
}

.itens:nth-child(2) .login_e_carrinho{
    gap: 100px;
    left: -110px;
}

.itens:nth-child(2) .login_e_carrinho h1{
    font-size: 1.4rem;
}

.itens:nth-child(2) .login_e_carrinho a{
    text-decoration: none;
    color: black;
    border-top: 1px solid var(--corPrincipal);
    padding: 10px 5px 40px 5px;
    font-size: 1.1rem;
    color: var(--corPrincipal);
    transition: all .1s ease;
}

.itens:nth-child(2) .login_e_carrinho a:hover{
    color: white;
    background-color: #0d7bdb;
}

/* header bottom */
.lista_de_produtos{
    display: flex;
    height: 50px;
    list-style: none;
    align-items: center;
}

.secoes{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all .1s ease;
    font-size: 1rem;
}

.secoes:hover{
    background-color: var(--brancoFraco);
    border-color: var(--corPrincipal);
}

.secoes img{
    margin-left: 5px;
    width: 1.15rem;
    transition: all .2s ease;
}

.secoes:hover img{
    transform: rotate(180deg);
}