:root{
    --fontPrincipal: "Inter", monospace, sans-serif;
    --corPrincipal: #0d7bdb;
    --corContraste: #010b40;
    --branco: #f2f2f2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}
/* Header */
.header{
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
}

/* header - header top */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* header-top - Logo */
.logo{
    font-size: 1.5rem; 
    font-weight: 600;
}
 
.logo span{
     color: var(--corPrincipal);
}

/* header-top - barra de pesquisa */
.barra-de-pesquisa{
    display: flex;
    align-items: center;
    width: 35vw;
}

.barra-de-pesquisa input{
    width: 99%;
    padding: 5px 20px;
    height: 35px;
    border: 1px solid black;
    border-right: none;
    outline-color: #0d7bdb;
    border-radius: 2px 0px 0px 2px;
}

.barra-de-pesquisa span{
    display: flex;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
    height: 35px;
    border: 1px solid black;
    border-left: none;
    font-weight: 200;
    font-size: 2rem;
}

/* header-top - botões rapidos e login */
.botoes-rapidos{
    display: flex;
    list-style: none;
    height: 100%;
}

.botoes-rapidos li{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0px 5px;
    transition: all .2s ease;
}

.botoes-rapidos li:hover{
    background-color: rgb(241, 240, 240);
}

.botoes-rapidos li:hover span.setaIcon{
    transform: rotate(-180deg);
}

.botoes-rapidos li span.setaIcon{
    margin-left: 5px;
    transition: all .2s ease;
}

.botoes-rapidos li span{
    font-weight: 300;
}